
.container{
    background: gray;
    text-align: center;
}
.button-image{
    margin: 0 auto;
    width: 170px;
    height: 200px;
    cursor: pointer;
}
.button-image:hover{
    opacity: 0.7;
    transition: 0.2s;
}
.video-frame{
    display: flex;
    justify-content: center;
}
.video{
    height: 733px;
    width: 1400px;
}